.keyframeGraph
    outline none

    .keyframeInner
        transform-origin 4px 4px
        transform rotateZ(45deg)
        fill #fff
        transition-property fill
        transition-duration .2s

        &.keyframeInner--selected
            fill #1ac5ff

    .keyframeLineToHandle
        stroke rgba(#fff, .2)
