@require '../../styles/_variables'
@require '../../styles/_mixins'

.keyframeView
    display flex
    flex-flow row

.propList
    thin-scrollbar()

    display block
    flex none
    width 220px
    height 100%
    padding 4px 0
    overflow auto

.propItem
    display flex
    justify-content space-between
    height 24px
    padding 0 4px
    line-height 24px

.propItemName
    flex 1

.propItemInput
    width 5em

    :global(._drag-number-input), select
        display block
        width 100%

.propKeyframeIndicator
    flex 0
    display inline-block
    width 16px
    height 16px
    margin-right 8px

    font-size 14px
    line-height 2

    opacity .3

    &.propKeyframeIndicator--hasKeyframe
        opacity 1

    &.propKeyframeIndicator--nonAnimatable::before
        content ''
        display inline-block
        width calc(1em + 2px)
        height 1em

.keyframeContainer
    display flex
    flex 1
    height 100%

.keyframeGraph
    height 100%

    .keyframeInner
        transform-origin 4px 4px
        transform rotateZ(45deg)
        fill #fff
        transition-property fill
        transition-duration .2s

        &.keyframeInner--selected
            fill #1ac5ff

    .keyframeLineToHandle
        stroke rgba(#fff, .2)
