.keyframeView
    display flex
    flex-flow row

.propList
    display block
    width 220px
    height 100%
    flex none

.propItem
    display flex
    justify-content space-between
    height 24px
    padding-left 4px
    line-height 24px

.keyframeContainer
    display flex
    flex 1
    height 100%

// .propItemInput
//     padding:

.keyframeGraph
    height 100%

    // .keyframe
    //     width 8px
    //     height 8px

    .keyframeInner
        transform-origin 4px 4px
        transform rotateZ(45deg)