@require 'nib'
@import '../../styles/_variables'

.root
    position fixed
    top 16px
    right 16px

.entry
    width 400px
    margin-bottom 8px
    border-radius 2px

    .entryTitle
        padding 8px 8px 4px
        font-size 18px

    .entryBody
        padding 8px

    .detail
        margin 0 8px
        padding 4px
        overflow auto

        background rgba(255, 255, 255, 0.5)
        border-radius 2px

    &.--info
        background-color lighten($color-info, 50%)

        .entryTitle
            background-color $color-info

        .entryBody
            color darken($color-info, 40%)

    &.--error
        background-color lighten($color-error, 50%)

        .entryTitle
            background-color $color-error

        .entryBody
            color darken($color-error, 40%)