@require '../../assets/styles/_variables'

.ExpressionEditor
    position absolute
    top 0
    z-index 1

    display flex
    flex-flow column
    width 100%
    height 100%

    .ExpressionEditor__Toolbar
        padding 4px 8px
        background-color var(--background)

    .ExpressionEditor__Editor
        flex 1
