{
    "presets": [
        "stage-1",
        "stage-2",
        "stage-3",
        "es2017",
        "es2016"
    ],
    "plugins": [
        "transform-flow-strip-types",
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-es2015-classes",
        "transform-es2015-destructuring",
        "transform-react-jsx",
        "add-module-exports"
    ]
}
