{
    "presets": [
        "stage-3",
        "stage-2",
        "es2017",
        "es2016"
    ],
    "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-class-properties",
        "transform-es2015-block-scoping",
        "transform-es2015-block-scoped-functions",
        "transform-es2015-classes",
        "transform-es2015-destructuring",
        "transform-react-jsx",
        "add-module-exports"
    ]
}
