{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order",
    "./node_modules/prettier-stylelint/config.js"
  ],
  "rules": {
    "color-named": "never",
    "indentation": 2,
    "string-quotes": "single",
    "selector-list-comma-newline-after": "always-multi-line",
    "number-leading-zero": "never",
    "selector-pseudo-class-no-unknown": [true, {
      ignorePseudoClasses: ["global"]
    }],
    "no-missing-end-of-source-newline": null,
    "selector-id-pattern": "^[a-zA-Z0-9]+$",
    "selector-class-pattern": "^[a-zA-Z0-9]+$",
  }
}
