$pane-border-width = 2px
// $pane-background = linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 9%))
$pane-background = transparent

$color-info = #00acee
$color-error = #f83737

$color-dropdown-bg = var(--background)
$color-dropdown-border = var(--pane-border-color)

// z-index
$z-index-modal-window = 10000