$pane-border-width = 3px
// $pane-background = linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 9%))
$pane-background = transparent

$color-info = #00acee
$color-error = #f83737

// z-index
$z-index-modal-window = 10000