@import 'nib'

global-reset()

html
    --background #3c3e42
    --pane-background linear-gradient(to bottom, #0c070f, 30% #0c070f, 50% #111)
    --pane-border-color rgba(#000, .9)
    --active-pane-border rgba(#6900a8, .5)
    --text-color #fff
    --caption-row-background #3a3340

    --accent-color #9310c8

*
    box-sizing border-box

html, body
    width 100%
    height 100%
    margin 0
    user-select none
    cursor default

    font-family 'Avenir Next', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Roboto, 'YuGothic', '游ゴシック Medium', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif
    font-size 12px

    background-color var(--background)
    color var(--text-color)

#root
    display flex
    flex-direction column
    width 100%
    height 100%

.header
    height auto
    padding 8px
    // margin-top -24px
    border-bottom 1px solid #343434
    text-align center

.content
    display block
    flex 1
    padding 8px

.footer
    display flex
    align-items center
    justify-content flex-end
    padding 8px

    border-top 1px solid #aaa

.view-navigation
    flex none
    display flex
    flex-direction column
    // border-bottom 1px solid #333s

    .window-nav
        display flex
        width 100%
        height 21px
        padding 4px 8px

        align-items center

        // border-bottom 1px solid #333
        -webkit-app-region drag

    .window-nav-item
        display inline-flex
        width 12px
        height 12px
        margin-right 6px
        // border-radius 8px

        align-items center
        justify-content center

        font-size 10px
        text-align center
        line-height 12px
        vertical-align middle

        color rgba(#fff, .2)
        transition all .1s
        background-color transparent
        border 1px solid rgba(#fff, .5)

        &:hover
            border-color var(--active-pane-border)

        &.window-nav--close:hover
            background-color #820000

        &.window-nav--minimize:hover
            background-color #827900

        &.window-nav--maximize:hover
            background-color #008234

        &[disabled]
            background-color transparent !important
            border 1px solid rgba(#fff, .5) !important

//
// Components
//
.form-horizontal
    margin-top 8px

    .form-groups
        display table

    .form-group
        // display table-row
        margin-bottom 4px

        .label
            display table-cell
            padding-right 8px

        .input, .inputs
            display table-cell

    .form-group + .form-group
        padding-top .5rem

.form-control + .form-control
    margin-left .5rem

.form-control
    position relative
    display inline-block

    input, select
        display inline-block
        padding 4px

        background-color transparent
        color inherit
        font-family inherit
        outline none

        border none
        border-bottom 1px solid #aaa
        border-radius 0

        transition border-bottom-color .1s

        &:active, &:focus
            border-bottom-color var(--accent-color)

    &.invalid
        input
            border-bottom 1px solid #d00000

        &.alert
            &::after
                content ''

                position absolute
                left 2px
                bottom calc(-100% + 1.3rem + 2px)

                border 4px solid transparent
                border-bottom-color #fff

            &::before
                content attr(data-message)

                display inline-block
                width auto
                padding 2px

                position absolute
                left 0
                bottom calc(-100% + 2px)

                white-space nowrap

                color #000
                background-color #fff
                border-radius 2px

    &[readonly]
        border-bottom 1px solid transparent
        user-select none
        cursor default

    & + .unit
        display inline-block
        margin-left .5rem

.button
    padding 4px 16px
    font-size 12px
    background-color #eeeeee
    border none
    outline none
    cursor default

    &.primary
        color #fff
        background-color #0081eb

    & + &
        margin-left 8px

.content--new-composition
    .form-group
        label
            width 10rem
            text-align right
