@import '../../assets/styles/_variables'
@import '../../assets/styles/_mixins'

.Timeline
    display flex
    height 50%
    flex none
    font-size 12px

    :global
        .--col-name
            display inline-flex
            align-items center
            flex 1
            overflow hidden
            white-space normal
            text-overflow ellipsis

        .--col-visibility
        .--col-lock
            display inline-flex
            align-items center
            width 16px

        .timeline-labels-container
            display flex
            flex-direction column
            width 220px
            flex none
            background-color $pane-background

        .timeline-labels-header
            display flex
            width 100%
            height 30px
            border-bottom 1px solid rgba(#fff, .4)

        .timeline-labels
            thin-scrollbar()

            display block
            flex 1
            overflow auto
            padding-bottom 20px

        .timeline-container
            display flex
            flex-direction column
            flex 1
            background-color $pane-background

        .timeline-lane-container
            disable-scrollbar()
            flex 1
            padding-bottom 20px
            overflow auto

        .timeline-lane
            border-bottom 1px solid rgba(#fff, .1)

            &.dragover
                background-color rgba(#fff, .2)

            &.--expand
                .timeline-lane-keyframes
                    display block

        .timeline-lane-clips
            position relative
            display block
            height 24px
            padding 2px 0
            padding-left 4px
            overflow visible

        .timeline-lane-keyframes
            display none
            width 100%
            overflow hidden

    .Timeline_Region
        height 50%

    .Timeline_KeyframeGraph
        height 50%

.scaleLabel
    display inline-flex
    align-items center
    font-size 12px

.scaleList
    width 200px
    border 1px solid $color-dropdown-border
    background-color $color-dropdown-bg
    transform translateY(6px)
