@require 'nib'

.root
    position fixed
    font-size 14px
    backdrop-filter blur(5px) // なんか.listに置くと効かない

.list
    width 200px
    margin 0
    padding 4px 0
    list-style none

    color #000
    background-color rgba(#e0e0e0, .9)
    border-radius 3px

.item
    padding 4px

    &.type--normal
        &:hover
            color #fff
            background-color #2aa1ff

    &.hasSubmenu
        position relative
        display flex
        justify-content space-between


        &::after
            content '▶'

        > .list
            position absolute
            top 0
            right 0

            display none
            transform translateX(100%)

        &:hover
            .list
                display block

    &.type--separator
        padding 0
        margin 2px