@require '../../styles/_variables'

.scaleLabel
    position relative

.dropdown
    width 200px
    border 1px solid $color-dropdown-border
    background-color $color-dropdown-bg

    li
        display block
        padding 4px 2px
        font-size 12px

        &:hover
            background-color rgba(#fff, .2)
