@require '../../styles/_variables'

.scaleLabel
    position relative
    font-size 12px

.currentScale
    margin-left .5em
    border-bottom 1px dotted var(--accent-color)

.footer
    padding 4px
    border-top 1px solid rgba(#000, .2)

.dropdown
    width 200px
    border 1px solid $color-dropdown-border
    background-color $color-dropdown-bg

    li
        display block
        padding 4px 2px
        font-size 12px

        &:hover
            background-color rgba(#fff, .2)
