@require '../../styles/_variables'

.root
    min-width 400px

.footer
    border-top 1px solid #eee

.button
    display block

    &.primary
        background-color $color-info

    &.primary
        background-color white