@require '../../assets/styles/_variables'

.Clip
    position absolute
    display inline-flex
    align-items flex-start
    width 300px
    height 20px
    padding 4px
    border-radius 2px
    filter: saturate(90%)

    transition-property background-color, box-shadow
    transition-duration $animate-bgcolor-duration
    transition-timing-function $animate-function

    &.Clip--video
        background-color #6034bd

    &.Clip--audio
        background-color #905313

    &.Clip--text
        background-color #214c8c

    &.Clip--image
        background-color #7a1d55

    &.Clip--adjustment
            background-color #2f7a42

    &.Clip--scripting
            background-color #24939e

    &.Clip--active
        z-index 1

        &.Clip--video
            background-color #7e50e1

        &.Clip--audio
            background-color #da8124

        &.Clip--text
            background-color #2f69bf

        &.Clip--image
            background-color #d03760

        &.Clip--adjustment
            background-color #1aa53d

        &.Clip--scripting
            background-color #34bfcd

.Clip__NameLabel
    color #fff

.Clip__IdLabel
    margin-left 3px
    color rgba(#000, .5)

.resizeHandle
    position absolute
    top 0
    right 0

    width 8px
    height 21px
    cursor ew-resize
