.clip
    position absolute
    display inline-block
    width 300px
    height 21px
    background-color #4d1eb0
    bottom 1px solid #3d157d
    box-shadow 0 0 3px rgba(0, 0, 0, .8)

    transition-property filter
    transition-duration 50ms
    transition-timing-function cubic-bezier(0.6, 0, 0.8, 1.2)

    &.clip--active
        filter brightness(140%)

.resizeHandle
    position absolute
    top 0
    right 0

    width 8px
    height 21px
    cursor ew-resize