doctype html
html
    head
        meta(charset="UTF-8")
        title Delir

        link(rel="stylesheet", href="styles/style.css")
        script(src="scripts/main.js")
    body
        #root.theme--default
        //- canvas#canvas(width='640' height='360')
