doctype html
html
    head
        meta(charset="UTF-8")
        title Delir

        link(rel="stylesheet", href="styles/style.css")
        script(src="scripts/main.js" defer)
    body
        #loading Loading...
        #root.theme--default
            ._container
                .view-navigation
                    ul.window-nav
                        li.window-nav-item.window-nav--close
                        //- li.window-nav-item.window-nav--minimize
                        //- li.window-nav-item.window-nav--maximize

        script.
            (() => {
                const {remote} = require('electron')
                document.querySelector('.window-nav-close').addEventListener('click', () => {
                    remote.getCurrentWindow().close()
                })
            })()
