doctype html
html
    head
        meta(charset="UTF-8")
        title Delir

        script(src='../node_modules/monaco-editor/min/vs/loader.js')
        script.
            (() => {
                require.config({
                    paths: {
                        'vs': '../node_modules/monaco-editor/min/vs'
                    }
                });

                window.MonacoEnvironment = {
                    baseUrl: '../node_modules/monaco-editor/min/'
                };

                require(['vs/editor/editor.main'], () => {});
            })()
    body
